
@{
    ViewBag.Title = "Create";
}

<h2>Add event</h2>
<form method="post" action="Event/Create">
	<button id="add" type="button" value="+" onclick="addNewEventField()"></button>
	<input type="submit" title="Create Event" />
</form>
