
@{
    ViewBag.Title = "Create";
}

<h2>Add event</h2>
<form id="form" method="post" action="Event/Create">
	<input type="text" name=""
	<button id="add" type="button" onclick="addNewEventField()">Add new field</button>
	<input type="submit" value="Create Event" />
</form>
