
@{
    ViewBag.Title = "SignUp";
}

<div class="col-md-4">
	<h2>Sign up</h2>
	<form method="post" action="SignUp">
		<input type="text" name="Email" />
		<br />
		<input type="password" name="Password" />
		<br />
		<input type="submit" title="Sign In" />
		<br />
	</form>
</div>

