
@{
    ViewBag.Title = "Sign In";
}
<div class="col-md-4">
	<h2>Sign in</h2>
	<form method="post" action="User/SignIn">
		<input type="text" name="Email" />
		<br />
		<input type="password" name="Password" />
		<br />
		<input type="submit" title="Sign In" />
		<br />
	</form>
	<h1>@ViewBag.Status</h1>
</div>