
@{
    ViewBag.Title = "UserHome";
}
<a class="btn-link" href="/Event/Create">Create new event</a>
<div id="left">
	<h2>User own events</h2>
</div>
<div id="right">
	<h2>User signed events </h2>
</div>